.underline, .section--headline__subtitle:before, .section--headline__subtitle:after {
  position: relative;
  display: inline-block;
  width: 75px;
  height: 1px;
  top: -4px;
  content: '';
  background: #4c545f; }

body {
  font-family: 'Raleway', sans-serif; }

.section--headline {
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center; }
  .section--headline__title {
    font-size: 34px;
    text-transform: capitalize; }
  .section--headline__subtitle {
    font-size: 18px;
    color: #4c545f; }
    .section--headline__subtitle:before {
      margin-right: 20px; }
    .section--headline__subtitle:after {
      margin-left: 20px; }

.background__dark {
  padding: 20px;
  background-color: #F7F7F7; }

.advantages--box {
  height: 270px;
  width: 270px;
  margin: 0 auto 10px;
  border: 10px solid #DB720D;
  border-radius: 100%;
  padding: 20px;
  text-align: center;
  font-size: 16px;
  color: #333d40;
  cursor: all-scroll; }
  .advantages--box__inner {
    height: 100%;
    border: 2px solid rgba(219, 114, 13, 0.8);
    border-radius: 100%;
    -webkit-transition: all 300ms ease-out;
    transition: all 300ms ease-out; }
    .advantages--box__inner:hover {
      background: #DB720D; }
    .advantages--box__inner:hover .advantages--icon {
      color: #fff; }
    .advantages--box__inner:hover .advantages--text {
      color: #fff; }
    .advantages--box__inner .advantages--icon {
      display: block;
      margin: 70px 0 10px;
      font-size: 50px;
      line-height: 50px;
      color: #DB720D; }
    .advantages--box__inner .advantages--text {
      position: relative;
      display: inline-block;
      text-transform: capitalize;
      font-size: 16px;
      font-weight: bold; }
.advantages--box:nth-child(1), .advantages--box:nth-child(2), .advantages--box:nth-child(3) {
  margin-right: 20px; }

footer {
  padding-top: 40px;
  background: #4c545f;
  color: #fff; }
  footer .contact--box__inner .contact--icon {
    text-align: center; }
    footer .contact--box__inner .contact--icon img {
      width: 60px; }
  footer .copyright {
    margin-top: 20px;
    border-top: 1px solid #F7F7F7; }
    footer .copyright p {
      margin: 0;
      padding: 20px 0;
      text-align: center;
      font-size: 14px; }

.jumbotron {
  height: 100vh;
  background-image: url(../images/stone-floor.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #000;
  text-align: center;
  color: #fff; }
  .jumbotron--text {
    margin: 10%; }
    .jumbotron--text h1 {
      margin-bottom: 30px;
      font-size: 56px;
      font-weight: 700; }
      .jumbotron--text h1 .logo__dark {
        color: #723531; }
      .jumbotron--text h1 .logo__light {
        color: #DB720D; }
  .jumbotron .btn-outline-dark {
    border-color: #DB720D;
    color: #DB720D;
    background-color: #fff; }
    .jumbotron .btn-outline-dark:hover {
      border-color: #343a40;
      color: #fff;
      background-color: #DB720D; }
  .jumbotron a {
    color: inherit; }
    .jumbotron a:hover {
      text-decoration: none; }

.navbar {
  width: 100%;
  padding: 0; }
  .navbar .nav-item:first-child {
    border-left: 1px solid rgba(0, 0, 0, 0.1); }
  .navbar .nav-item {
    width: 168px;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    text-align: center; }
    .navbar .nav-item .nav-link {
      position: relative;
      width: 100%;
      padding: 0;
      font-size: 20px;
      line-height: 84px;
      text-transform: uppercase; }
      .navbar .nav-item .nav-link:hover {
        color: #FFF;
        background: #DB720D; }
  .navbar .active a {
    background: #DB720D;
    color: #FFF !important; }

header {
  height: 105px;
  padding: 20px 0;
  background-color: #4c545f; }
  header .logo--text {
    font-size: 16px;
    font-weight: 700;
    color: #fff; }
    header .logo--text span {
      padding-right: 5px; }

.about {
  height: 600px;
  background-image: url(../images/about2.jpg);
  background-repeat: no-repeat;
  background-size: cover; }
  .about--text {
    margin-top: 6%;
    border: 10px solid #DB720D;
    padding: 20px;
    text-align: justify;
    color: #333d40;
    cursor: all-scroll; }
    .about--text__inner {
      height: 100%;
      border: 2px solid rgba(219, 114, 13, 0.8);
      padding: 10px;
      font-size: 18px;
      background-color: rgba(255, 255, 255, 0.4);
      -webkit-transition: all 300ms ease-out;
      transition: all 300ms ease-out; }
      .about--text__inner:hover {
        color: #fff;
        background: #DB720D; }

.portfolio--box {
  position: relative;
  padding: 0; }
  .portfolio--box:hover .portfolio--text {
    background: none;
    opacity: 0; }
  .portfolio--box .portfolio--img img {
    width: 100%; }
  .portfolio--box .portfolio--text {
    position: absolute;
    bottom: -1px;
    left: 0;
    right: 0;
    padding: 30px;
    background: #DB720D;
    opacity: 0.85;
    color: #FFF;
    transition: all 600ms ease-in-out;
    text-align: center; }

.reference {
  text-align: center; }
  .reference--image {
    width: 153px;
    height: 153px;
    padding: 20px;
    margin: 0 auto;
    border: 2px solid #DB720D;
    border-radius: 100%; }
    .reference--image img {
      width: 100%;
      height: 100%;
      border-radius: 100%; }
  .reference--name {
    margin: 20px 0;
    font-size: 14px; }
  .reference--icon {
    margin-bottom: 30px; }
  .reference--text {
    padding: 20px 40px;
    border-radius: 10px;
    color: #723531;
    font-size: 22px;
    font-weight: 300; }

.clients {
  padding-bottom: 20px; }
  .clients--box:hover img {
    opacity: 0.8; }
  .clients--box img {
    width: 100%;
    border: 1px dashed #4c545f;
    padding: 5px;
    opacity: 0.4; }

.offer--text {
  padding-bottom: 40px;
  text-align: center;
  color: #4c545f; }

.offer--box {
  text-align: center;
  transition: all 0.3s ease; }
  .offer--box:hover .offer--icon {
    margin-top: -20px; }
  .offer--box:hover .offer--icon img {
    opacity: 0.7; }
  .offer--box:hover h4 {
    color: #DB720D; }
  .offer--box:hover p {
    opacity: 1; }
  .offer--box .offer--icon {
    width: 100%;
    padding: 0 20px; }
    .offer--box .offer--icon img {
      width: 150px;
      height: 150px;
      opacity: 0.4; }
  .offer--box .offer--title {
    padding: 10px 0;
    color: #4c545f;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase; }
  .offer--box p {
    opacity: 0;
    font-size: 12px;
    line-height: 18px; }

/*# sourceMappingURL=main.css.map */
