footer {
    padding-top: 40px;
    background: $subtitle-color;
    color: #fff;

    .contact {

        &--box {

            &__inner {

                .contact--icon {
                    text-align: center;

                    img {
                        width: 60px;
                    }
                }

                .contact--text {

                }
            }
        }
    }
}