.jumbotron {
    height: 100vh;
    background-image: url(../images/main-main.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #000;
    text-align: center;
    color: #fff;

    &--text {
        margin: 10%;

        h1 {
            margin-bottom: 30px;
            font-size: 56px;
            font-weight: 700;

            .logo__dark {
                color: $secondary-color;
            }

            .logo__light {
                color: $primary-color;
            }
        }
    }

    .btn-outline-dark {
        border-color: #DB720D;
        color: #fff;
        background-color: #DB720D;

        &:hover {
            border-color: #fff;
            color: #DB720D;
            background-color: #fff;
        }
    }

    a {
        color: inherit;

        &:hover {
            text-decoration: none;
        }
    }
}