$primary-color: #DB720D;
$secondary-color: #723531;
$subtitle-color: #4c545f;
$background-dark: #F7F7F7;

.underline {
    width: 75px;
    height: 1px;
    background: $subtitle-color;
    content: '';
    display: inline-block;
    top: -4px;
    position: relative;
}
